.background{
    background:linear-gradient(to right, #3722bb, #828eff);
}

header{
    background: white;
}

.box{
    /* background: blue; */
    padding: 10px;
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
    align-items: center;
    gap: 15px;

}

.cadastro{
    height: 700px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    padding-top: 1px;
    gap: 5px;
    align-items: center;
}

.titulo_cadastro{
    border-top: #4e5ab8 2px solid;
    border-bottom: #4e5ab8 2px solid;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.text{
    margin-right: auto;
    margin-top: 15px;
    font-size: 18px;
}

.infor{
    margin-right: auto;
    height: 45px;
    width: 400px;
    border: none;
    background-color: #edf1ff;
    border-radius: 10px;
    font-size: 20px;

}

.button{
    background-color: #828eff;
    height: 45px;
    width: 400px;
    border: none;
    border-radius: 10px;
    border-color: #86a1ff;
    display: flex;
    justify-items: center;
    font-size: 20px;
    margin-top: 70px;
    cursor: pointer;
    
}
